body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Garante que o body ocupe toda a altura da janela */
    margin: 0;
    background-color: rgb(255, 255, 255);
    color: rgb(75, 75, 75);
}
.container {
    background-color: #fff;
    width: 360px;
    max-height: 600px; /* Define a altura máxima do contêiner */
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Adiciona a rolagem vertical */
    overflow-x: hidden; /* Remove a rolagem horizontal */
    position: relative;
}

.banner {
    position: relative;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 30%);
    z-index: 1;
}

.banner img,
.location-btn {
    max-width: 100%; /* Garante que as imagens e botões não excedam a largura do contêiner */
    box-sizing: border-box; /* Inclui padding e border no tamanho total do elemento */
}
.location-btn {
    width: 100%; /* Certifica que o botão de localização ocupe toda a largura do contêiner */
}

.banner .profile {
    width: 75px;
    height: 75px;
    border-radius: 6px; /* Faz a imagem ser circular */
    position: absolute;
    bottom: -14px; /* Ajuste conforme necessário */
    left: 10px; /* Ajuste conforme necessário */
    border: 1px solid #fff;
    z-index: 2; /* Garante que a imagem do perfil esteja acima do banner */
}

.language-selector {
    position: absolute;
    top: 10px; /* Ajuste conforme necessário */
    left: 10px; /* Ajuste conforme necessário */
    z-index: 3; /* Garante que o botão de idioma esteja acima da imagem de perfil e do banner */
}

.language-button {
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza o conteúdo no botão */
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 10px; /* Ajuste conforme necessário */
    font-weight: 400;
    height: 25px; /* Ajuste conforme necessário */
    width: 65px;
    padding: 5px 10px; /* Ajuste conforme necessário */
    background-color: transparent;
    border: 1px solid #ccc; /* Adicione uma borda, se necessário */
    border-radius: 5px; /* Adicione bordas arredondadas, se desejar */
    white-space: nowrap; /* Impede a quebra de linha */
    overflow: hidden; /* Garante que nada saia do botão */
}

.flag-icon {
    height: 20px; /* Ajuste a altura conforme necessário */
    width: auto; /* Mantém a largura proporcional */
    max-width: 20px; /* Define um limite máximo para a largura */
    margin-right: 5px; /* Espaço entre a bandeira e o texto */
    object-fit: contain; /* Mantém a proporção da imagem */
}



.container .content {
    padding: 10px;
    padding-top: 21px; /* Ajuste para compensar a sobreposição da imagem de perfil */
}

.container .content h2 {
    font-size: 20px;
    margin: 0 0 12px 0;
}

.container .content select,
.container .content .location {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
    user-select: none; /* Evita seleção de texto */
}

.container .content .location {
    display: flex;
    align-items: center;
    user-select: none; /* Evita seleção de texto */
}

.container .content .location img {
    width: 20px;
    margin-right: 8px;
    user-select: none; /* Evita seleção de texto */
}

.location svg {
    color: red; /* Muda a cor do ícone */
}

.location {
    display: flex;
    align-items: center;
    margin-bottom: 12px; /* Espaço entre os itens da lista, se aplicável */
}

.location svg {
    width: 40px; /* Ajuste o tamanho do ícone conforme necessário */
    height: 40px; /* Ajuste o tamanho do ícone conforme necessário */
    margin-right: 16px; /* Espaço entre o ícone e o texto */
    color: rgb(115,4,10); /* Altere para a cor desejada */
}

.location-btn {
    display: flex; /* Flexbox para alinhar a imagem e o texto */
    align-items: center; /* Alinha verticalmente a imagem e o texto */
    width: auto; /* Ocupa toda a largura do contêiner */
    padding: 16px; /* Espaçamento interno */
    box-sizing: border-box; /* Inclui o padding e border no tamanho total do elemento */
    background-color: transparent; /* Fundo transparente */
    color: #161616; /* Cor do texto */
    text-align: left; /* Alinha o texto à esquerda */
    font-size: 16px; /* Tamanho da fonte */
    text-decoration: none; /* Remove sublinhado */
    cursor: pointer; /* Muda o cursor para um ponteiro */
    transition: background-color 0.3s ease; /* Transição suave para mudança de cor */
    font-weight: bold;
    user-select: none; /* Evita seleção de texto */
}

.text-group {
    display: flex;
    flex-direction: column;
}

.main-text {
    font-size: 16px;
    color: #333;
}

.sub-text {
    font-size: 12px;
    color: #888;
}
